.percents {
  text-align: center;
  color: #585858;
}

.percentage-div {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
